# Common ignore patterns for strategy-builder

# Dependency directories
node_modules/
**/node_modules/

market-data/
market-data-1-sec/
market-data-bundle.tar.gz

# Build outputs
dist/
**/dist/
build/
**/build/
.next/
**/ .next/
out/
**/out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
.DS_Store?
**/ .DS_Store
Thumbs.db

# IDE files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Data (Large files)
server/src/data/instruments.json
server/src/dataOld/instruments.json
server/src/temp/instruments.json


*.sql

